# Exclude Python cache files
__pycache__/
*.py[cod]
*$py.class

# Exclude virtual environments
venv/
.env/

# Exclude configuration files
refinitiv-data.config.json*

# Exclude logs
*.log

# Exclude environment files
*.env

# Exclude Docker Compose files
docker-compose.yml

# Exclude IDE and editor files
.vscode/
.idea/
*.swp

# Exclude backup and temporary files
*.bak
*.tmp

# Exclude documentation files
*.md

# Additional exclusions
Dockerfile
README.md
